/*body {*/
/*    background-color: #1ce7dd;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    min-width: 200px;*/
/*    transition: 0.5s;*/
/*}*/

/* container */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 50px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 100%;
    width: 350px;
}

.calc-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 80px;
    grid-gap: 5px;
}

/* display */
.display {
    background-color: white;
    border-radius: 6px;

    display: grid;
    grid-column: 1 / 4;
    align-items: center;
    padding-left: 20px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.screen-placeholder {
    color: #555857;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
}

/* clean */
.clear {
    text-decoration: none;
    border: none;

    color: white;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;

    background-color: #b71c1c;
    border-radius: 6px;
    cursor: pointer;

    box-shadow: 2px 2px 1px #b02020;
    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clear:hover {
    opacity: 0.8;
}

.clear:active {
    box-shadow: 2px 2px 1px #771616;
}

/* keyboard */
.button {
    text-decoration: none;
    border: none;

    background-color: white;
    color: #2f3332;
    font-family: 'Rubik 80s Fade', cursive;

    font-size: 20px;

    cursor: pointer;

    box-shadow: 2px 2px 1px #393d3c;
    border-radius: 6px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    box-shadow: 1px 1px 1px #393d3c;
}

/* logo */
.menu {
    display: flex;
    gap: 5px;
    height: 40px;
    margin-top: 5px;
}

/* GitHub */
.icon__github {
    text-decoration: none;
    border: none;

    background-color: #272424;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s linear;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.icon__github:hover {
    background-color: #1c1919;
}

.git {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    width: 100px;

    background-image: url("./images/GitHub.svg");
    background-repeat: no-repeat;
    background-position: center left;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 10px;
}

/* Light */
.icon__light-mode {
    text-decoration: none;
    border: none;

    background-color: #272424;
    border-radius: 6px;
    transition: background-color 0.2s linear;

    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.icon__light-mode:hover {
    background-color: #1c1919;
}

.light {
    color: white;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    width: 150px;

    background-image: url("./images/Moon.svg");
    background-repeat: no-repeat;
    background-position: center left;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 10px;
}

@media screen and (max-width: 768px) {
    .main-container {
        justify-content: flex-start;
        margin: 10px;
    }
    .title {
        font-size: 30px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        max-width: 150px;
    }
}
@media screen and (max-width: 280px) {
    .calc-container {
        grid-auto-rows: 60px;
    }
}
@media screen and (max-width: 240px) {
    .calc-container {
        grid-auto-rows: 40px;
    }
}

@media (prefers-color-scheme: dark) {
    rect {
        fill: black;
    }
}